{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'website/css/admin.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
{% endblock %}

{% block branding %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}" style="color: #06b6d4; font-weight: 800;">
    <span style="color: #06b6d4;">&lt;</span>TECH<span style="color: #06b6d4;">/</span>STORE<span style="color: #06b6d4;">&gt;</span>
  </a>
</h1>
{% endblock %}
